<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div id="main">

		{{ content }}

		{% assign c = 0 %}
		{% for post in site.posts %}

			{% if post.author == page.author %}

				{% if c == 0 %}
					<h2>Authored Articles</h2>
					{% assign c = 1 %}
				{% endif %}

				<h3 style="margin-bottom: 0;"><a id="listingurl" href="{{ post.url }}">{{ post.title }}</a></h3>
				<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">{{ post.date | date: "%Y-%m-%d" }}</h5>
				<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">by <a href="/members/{{ post.author }}">{{ post.author }}</a></h2>

			{% endif %}

		{% endfor %}

	</div>

</body>

</html>
