---
title: Articles
layout: articles
---

<h1>Articles</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia augue vel arcu scelerisque consequat. Mauris in felis ante. Integer lectus odio, fringilla sagittis imperdiet nec, iaculis nec massa. Proin sollicitudin ex eu ligula imperdiet iaculis eget ut risus. In pretium tortor eros, a sodales neque iaculis eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque venenatis tristique sapien, scelerisque eleifend odio fringilla vitae. Duis quis sapien rhoncus, consequat purus in, bibendum dolor. Nam nec ex feugiat lectus commodo varius dapibus et nunc. Sed ullamcorper nulla ac dui molestie, a efficitur risus dignissim. Nullam id rhoncus diam. Donec non mollis arcu.</p>

<h2>Sort by Category</h2>

{% for category in site.categories %}

	<h3><a id="listingurl" href="{{ category.url }}">{{ category.title }}</a></h3>

{% endfor %}

<h2>Latest Articles</h2>

{% for post in paginator.posts %}

	<h3 style="margin-bottom: 0;"><a id="listingurl" href="{{ post.url }}">{{ post.title }}</a></h3>
	<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">{{ post.date | date: "%Y-%m-%d" }}</h5>
	<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">by {{ post.author }}</h2>

{% endfor %}

<br>
<a id="listingurl" href="{{paginator.previous_page_path | relative_url }}">&lt;&lt;</a><span style="padding-left: 8px; padding-right: 8px;">{{ paginator.page }}/{{ paginator.total_pages }}</span><a id="listingurl" href="{{ paginator.next_page_path | relative_url }}">&gt;&gt;</a>
