---
title: Articles
layout: articles
---

<h1>Articles</h1>

<p>This is a collection of articles written by IrisSec members. These include announcements, tutorials, guides, references, writeups, and more.</p>

<h2>Sort by Category</h2>

{% for category in site.categories %}

	<h3><a id="listingurl" href="{{ category.url }}">{{ category.title }}</a></h3>

{% endfor %}

<h2>Latest Articles</h2>

{% for post in paginator.posts %}

	<h3 style="margin-bottom: 0;"><a id="listingurl" href="{{ post.url }}">{{ post.title }}</a></h3>
	<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">{{ post.date | date: "%Y-%m-%d" }}</h5>
	<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">by {{ post.author }}</h2>

{% endfor %}

<br>
<a id="listingurl" href="{{paginator.previous_page_path | relative_url }}">&lt;&lt;</a><span style="padding-left: 8px; padding-right: 8px;">{{ paginator.page }}/{{ paginator.total_pages }}</span><a id="listingurl" href="{{ paginator.next_page_path | relative_url }}">&gt;&gt;</a>
