---
title: Articles
layout: articles
---

<h1>Articles</h1>

<p>This is a collection of articles written by IrisSec members. These include announcements, tutorials, guides, references, writeups, and more.</p>

<h2>Sort by Category</h2>

<div style="text-align: left">

	{% for category in site.categories %}

		<h3 style="display: inline-block; margin-top: 0; margin-bottom: 0;">
			<a id="listingurl" href="{{ category.url }}">{{ category.title }}</a>
		</h3>

	{% endfor %}

</div>

<h2>Latest Articles</h2>

{% for post in paginator.posts %}

	<h3 style="margin-bottom: 0;"><a id="listingurl" href="{{ post.url }}">{{ post.title }}</a></h3>

	{% for category in post.categories %}

		<h5 style="margin-top: 0; margin-bottom: 0; display: inline-block; padding-left: 8px"><a href="/articles">articles</a>/<a href="/articles/categories/{{ category }}">{{ category }}</a></h5>

	{% endfor %}

	<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">{{ post.date | date: "%Y-%m-%d" }}</h5>
	<h5 style="margin-top: 0; margin-bottom: 0; padding-left: 8px;">by <a href="/members/{{ post.author }}">{{ post.author }}</a></h2>

{% endfor %}

<br>
<a id="listingurl" href="{{ paginator.previous_page_path | relative_url }}">&lt;&lt;</a><span style="padding-left: 8px; padding-right: 8px;">{{ paginator.page }}/{{ paginator.total_pages }}</span><a id="listingurl" href="{{ paginator.next_page_path | relative_url }}">&gt;&gt;</a>
